name: CI Automated tests API Rest

#Gatilho
on: 
  workflow_dispatch:

jobs:
  tests:

    #Config SO
    runs-on: ubuntu-latest

    #Variaveis
    env: 
      BASE_URL_REST: 'http://localhost:3000'

    # Açõoes e passos
    steps: 
    
      # Projeto Local Business
      - name: Checkout do Repositório
        uses: actions/checkout@v4
      #dep do projeto
      - name: Instalando as dependências 
        run: npm install

      - name: Iniciar o servidor de aplicacao
        run: npm run start &

      - name: Executar os testes
        run: npm test

      - name: Rodar os testes de PAI via controller
        run: npx mocha tests/apiRest/**/*.test.js --timeout 10000 --reporter mochawesome --reporter-options reportDir=mochawesome-report,reportFilename0index,reportJson=true
        continue-on-error: true

      - name: verificar conteúdo do relatório
        run: ls -R mochawesome-report || echo "Relatório não encontrado"

      - name: upload do relatório  Mochawesome
        uses: actions/upload-artifact@va
        with:
          name: mochawesome-report
          path: mochawesome-report/

        

        
