name: CI Automated tests API Rest

#Gatilho
on: 
  workflow_dispatch:

jobs:
  tests:

    #Config SO
    runs-on: ubuntu-latest

    #Variaveis
    env: 
      BASE_URL_REST: 'http://localhost:3000'

    # Açõoes e passos
    steps: 
    
      # Projeto Local Business
      - name: Checkout do Repositório
        uses: actions/checkout@v4
      #dep do projeto
      - name: Instalando as dependências 
        run: npm install

      - name: Iniciar o servidor de aplicacao
        run: npm run start &

      - name: Executar os testes
        run: npm test
